<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} - {% endif %}Lauren Lauzau</title>
  <meta name="description" content="designer @8451group, road biker, hiker, and mom">

  <link rel="stylesheet" href="{{ include.stylesheet | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
  </style>
</head>