// Import fonts
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Bold.ttf");
  font-weight: bold;
  font-weight: 700;
}