html,
body {
  background-color: $gray-lightest;
  display: grid;
  padding: $space-md $space-xl;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

main {
  grid-area: main;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

footer,
.footer {
  grid-area: footer;
  text-align: center;
}