html,
body {
  color: $black;
  font-family: $font-family;
  font-size: $font-size-base;
}

h2,
h3,
h4,
h5,
h6 {
  margin: $space-md 0 $space-sm;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-family: $font-family;
  font-size: 2rem;
  font-size: clamp(1.6rem, 5vmin, 2rem);
  letter-spacing: .5px;
}

h2 {
  font-family: $font-family-header;
  font-size: 1.6rem;
  font-size: clamp(1.4rem, 3.5vmin, 1.6rem);
  font-weight: $font-weight-semi-bold;
}

h3 {
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 2.5vmin, 1.4rem);
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-size: clamp(1rem, 2vmin, 1.2rem);
  font-weight: $font-weight-bold;
  margin-bottom: 0;
}

h5 {
  font-size: .9rem;
  margin-bottom: 0;
}

p + p {
  margin-top: $space-md;
}

.caption {
  font-size: $font-size-sm;
  margin-top: $space-md;

  &--gray {
    color: $gray;
  }
}