<!DOCTYPE html>
<html>

{% include head.html stylesheet="/css/app.css" %}
<header class="top-nav">
  <a class="link link--logo" href="/">Lauren Lauzau</a>
  <div class="u-flex u-flex__gap--lg">
    <a class="link" href="/">Work</a>
    <a class="link" href="/about">About</a>
    <a class="link" href="/contact">Contact</a>
  </div>
</header>

<body>
  <div class="main">
    {{ content }}
  </div>
</body>

<footer>
  <a href="mailto:lauren@laurenlauzau.com">lauren@laurenlauzau.com</a>
</footer>

</html>